body {
    background-color: #090860;
}

.sarlavha {
    color: yellow;
    text-align:center;
}

.bot {
    text-align: center;
    color: white;
    font-size: 22px;
}

.yashil {
    color: green;
}